src/main/webapp/WEB-INF/uriproxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producers.emta.xtee.riik.ee/producer/emta" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" name="emta" targetNamespace="http://producers.emta.xtee.riik.ee/producer/emta">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.emta.xtee.riik.ee/producer/emta">
            <import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>			
						
            <complexType name="emtaFieAndmed_paring">
                <all>
                    <element name="isikukood" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Isikukood</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                </all>
            </complexType>						
            <complexType name="emtaFieAndmed_vastus">
                <all>
                    <element name="kokku" nillable="true" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Tulemus</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="lisainfo" nillable="true" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Lisainfo</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="fieJada" nillable="true">
                        <annotation>
                            <appinfo>
                                <xtee:title>Perioodid</xtee:title>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <restriction base="SOAP-ENC:Array">
                                    <sequence>
                                        <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:fieIsikAndmed"/>
                                    </sequence>
                                </restriction>
                            </complexContent>
                        </complexType>
                    </element>
                </all>
            </complexType>			
            <complexType name="fieIsikAndmed">
                <all>
                    <element name="isikukood" nillable="true" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Isikukood</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="algus" nillable="true" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Algkuupäev</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="lopp" nillable="true" type="string">
                        <annotation>
                            <appinfo>
                                <xtee:title>Lõppkuupäev</xtee:title>
                            </appinfo>
                        </annotation>
                    </element>
                </all>
            </complexType>
        </schema>
    </wsdl:types>		
    <wsdl:message name="emtaFieAndmed">
        <wsdl:part name="keha" type="tns:emtaFieAndmed_paring"/>
    </wsdl:message>		
    <wsdl:message name="emtaFieAndmedResponse">
        <wsdl:part name="keha" type="tns:emtaFieAndmed_vastus"/>
        <wsdl:part name="paring" type="tns:emtaFieAndmed_paring"/>
    </wsdl:message>	

    <wsdl:message name="xteehdr">
        <wsdl:part element="xtee:asutus" name="asutus"/>
        <wsdl:part element="xtee:andmekogu" name="andmekogu"/>
        <wsdl:part element="xtee:isikukood" name="isikukood"/>
        <wsdl:part element="xtee:id" name="id"/>
        <wsdl:part element="xtee:nimi" name="nimi"/>
        <wsdl:part element="xtee:toimik" name="toimik"/>
        <wsdl:part element="xtee:ametnik" name="ametnik"/>
        <wsdl:part element="xtee:allasutus" name="allasutus"/>
    </wsdl:message>

    <wsdl:portType name="emtaport"> 	
        <wsdl:operation name="xteeFieAndmed">
            <wsdl:documentation>
                <xtee:title>FIE andmed</xtee:title>
            </wsdl:documentation>
            <wsdl:input message="tns:emtaFieAndmed"/>
            <wsdl:output message="tns:emtaFieAndmedResponse"/>
        </wsdl:operation>	
    </wsdl:portType>
    <wsdl:binding name="emtabind" type="tns:emtaport">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>		
        <wsdl:operation name="xteeFieAndmed">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="toimik" use="encoded"/>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.emta.xtee.riik.ee/producer/emta" use="encoded"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="encoded"/>
                <soap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="tns:xteehdr" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="toimik" use="encoded"/>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.emta.xtee.riik.ee/producer/emta" use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>		
    <wsdl:service name="emtaxtee">
        <wsdl:port binding="tns:emtabind" name="emtaport">
            <soap:address location="TURVASERVER"/>
            <xtee:title>Maksu- ja Tolliameti X-tee teenused</xtee:title>
            <xtee:address producer="emta"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>